:root{
    margin:0 !important;
    padding:0 !important;
}
.fa-solid fa-users{
    color:#fff;
}


#total-orders{
    background-color:#000;
}
#orders-delivered{
    background-color:blue;

}
#orders-pending{
    background-color:brown;
}